@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
    font-size: 62.5%;
}

body {
    background-color: black;
    color: white;
    font-size: var(--font_medium);
    line-height: 1.5;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.primary_button, .secondary_button, .cta_button,.cta_del_button{
    display: inline-block;
    width: 200px;
    padding: 5px  0;
    text-align: center;
    border-radius: var(--btn_border_radius);
    font-weight: bold;
}

.primary_button {
    background-color: var(--color_main);
    color: black;
}

.secondary_button {
    border: 1px solid var(--color_main);
    color: var(--color_main);
}

.cta_button{
    background-color: var(--color_red_highlight);
    color: white;   
}

.cta_del_button{
    border: 1px solid var(--color_red_highlight);
    background-color: var(--color_black_highlight);
    color: var(--color_red_highlight);
}

.primary_badge, .cta_blue_badge, .cta_red_badge, .secondary_badge {
    padding: 5px;
    border-radius: var(--badge_border_radius);
    font-size: var(--font_small);
}

.primary_badge {
    background-color: var(--color_main);
    color: black;
}

.cta_blue_badge {
    background-color: var(--color_blue_highlight);
    color: white;
}

.cta_red_badge {
    background-color: var(--color_red_highlight);
    color: white;
}

.secondary_badge {
    background-color: var(--color_sub_bright);
    color: black;
}

.wrap_card {
    display: flex;
    flex-direction: column;
    padding: var(--padding3);
    gap: var(--padding2);
    border-radius: var(--card_border_radius);
    background-color: var(--color_black_highlight);
}

.card_title {
    font-weight: bold;
}

.inner_card_badge {
    display: flex;
    gap: var(--padding2);
}

.inner_card_contents {
    display: flex;
    flex-direction: column;
    font-size: var(--font_small);
}


.card_contents_green {
    color: var(--color_main);
}

.home_btn,.back_btn{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.home_btn::before,.back_btn::before{
    content: '';
    background-image: url('../images/화살표.png');
    background-size: cover;
    width: 18px;
    height: 18px;
    display: block;
    filter: invert(100%);
}
