header{
    display: flex;
    align-items: center;
    width: 393px;
    height: var(--padding7);
    background-color: black;
}

.logo {
    font-weight: bold;
    font-size: var(--font_small);
    color: var(--color_main);
    padding: var(--padding5) 0 22px var(--padding5) ;
}
