:root{
    --color_main: #8a2be2;
    --color_sub_dark: #4a1e9e;
    --color_sub_bright: #ddcbff;
    --color_red_highlight: #cc167d;
    --color_green_highlight: #82ef0e;

    --padding_8px: 0.8rem;
    --padding_20px: 2rem;
    --padding_24px: 2.4rem;
    --padding_32px: 3.2rem;
    --padding_48px: 4.8rem;
    --padding_80px: 8rem;

    --font_small: 1.4rem;
    --font_medium: 1.8rem;
    --font_large: 2.4rem;
    --font_xlarge: 3.2rem;
    --font_xxlarge: 8rem;
}