{% extends 'base.html' %}
{% block content %}
  <div>{{group.title}}</div>
  <div>{{user}}</div>
  <section>
  <form method='post' action={% url 'group_admin:user_update' group.id user_state.user.id %}>
      {% csrf_token %}
      <div>
          <label>실력<i>*</i></label>
          <div>실력은 1(낮은실력부터) 5(높은 실력)까지 입력가능합니다.</div>
          <div>{{form.group_ability}}</div>
          <!-- 필드 오류 -->
          {% if form.group_ability.errors %}
          <div>
              {{ form.group_ability.errors }}
          </div>
          {% endif %}
      <div>
      <button type='submit' class='primary_button'>회원 정보 수정하기</button>
      <a href="{% url 'common:main_page'%}" class='secondary_button'>홈으로</a>
  </form>
  <form action=" {%url 'group_admin:user_delete' group.id user_state.user.id %}" method="POST">
    {% csrf_token %}
    <button class='cta_button' type="submit">삭제하기</button>
  </form>

  </section>



{% endblock %}
