{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="group_base_set_container">
    <div>
        <h3>모임 개설</h3>
        <span id="state_desc">STEP 1. 기본 정보 작성</span>
    </div>
    <div>
        <form action="{% url 'group:base_set' %}" method="post">
            {% csrf_token %}

            <div id="form_container">
            {% for field in form %}
                <div>
                    <p>{{ field.label }}</p>
                    {{ field }}
                </div>
            {% endfor %}
            </div>
            <a id="base_set_submit_btn" class="btn">다음</a>
            <a href="{% url 'common:main_page' %}">홈으로</a>
        </form>
    </div>
</div>
<script src="{% static 'js/group_info.js' %}"></script>
{% endblock %}