{% extends 'base.html' %}
{% block content %}
<section class='common_section_main_page'>
    <div class="preresult_admin_container">
        <div class="preresult_member_header_container">
            <div class="preresult_member_description">
                <span>< Home</span>
                <p class="preresult_member_title">피로그래밍 20기</p>
                <span>투표가 종료되었습니다. 운영진이 결과를 발표할 때까지 기다려주세요.</span>
            </div>
        </div>

        {% if idea_list %}
        <div class="preresult_member_idea">
            <h2>투표</h2>
            {% for idea in idea_list %}
            <div class="preresult_member_idea_desc">
                <h3>
                <a href="{% url 'group:idea_detail' group_id=group.id idea_id=idea.id %}">
                    {{ idea.title }}
                </a>
                </h3>
                <!-- 투표 순위 표시 로직 -->
                {% if ideas_votes %}
                    {% if idea.id == ideas_votes.idea_vote1_id %} 
                    <p class="preresult_member_vote_badge">1지망</p>
                    {% elif idea.id == ideas_votes.idea_vote2_id %} 
                    <p class="preresult_member_vote_badge">2지망</p>
                    {% elif idea.id == ideas_votes.idea_vote3_id %} 
                    <p class="preresult_member_vote_badge">3지망</p>
                    {% endif %}
                {% endif %}
                <p class="idea_desc_content">{{ idea.content }}</p>
                <span>{{idea.author}}</span>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>
{% endblock content %} 
