{% extends 'base.html' %}

{% block content %}
<div class="preresult_admin_container">
    <div class="preresult_admin_header_container">
        피로그래밍 20기
        <span>팀 정보 수정 페이지 입니다. 저장하기를 누르지 않으면 저장 안되용</span>
        <div class="btns">
            <button class="secondary_button"><a href="/">이전</a></button>
        </div>
    </div>
    <div class="preresult_admin_body_container">
        <h1>회원</h1>
        {% for member in members %}
            <div class="group_preresult_modify_container">
                <h2>{{member.user.username}}</h2>
                <p>{{member.tech_stack}}</p>
                <!-- 생각해보니 여기도 동적으로 만들어야 하는데 3지망 고정값으로 만들면 안되네요;; -->
                <!-- 근데 db모델부터 3개 하드코딩으로 박혀있네....? 일단 패스-->
                <p>1지망 : {{member.idea_vote1}}</p>
                <p>2지망 : {{member.idea_vote2}}</p>
                <p>3지망 : {{member.idea_vote3}}</p>
                <h2>팀 변경</h2>
                <form action="{% url 'group:preresult_modify' group.pk %}" method="post">
                    {% csrf_token %}
                    <select name="team_modify">
                        <option value="{{member.id}},{{member.my_team_idea.id}}">{{member.my_team_idea.title}}</option>
                        {% for idea in idea_list %}
                            <option value="{{member.id}},{{idea.id}}">{{idea.title}}</option>
                        {% endfor %}
                    </select>
                    <button class="primary_button">저장하기</button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}