{% extends "base.html" %}
{% load static %}
{% block content %}
  <section class='preresult_vote1_section'>
    <div class='preresult_vote1_wrap'>
      <div class='preresilt_wrap_header'>
        <div class='home_btn'><a href="{%url 'common:main_page'%}">Home</a></div>
        <div class='preresult_vote1_inner_header'>
          <div class='preresult_vote1_idea_title'>{{group.title}}</div>
          <div>1차 투표 임시 결과</div>
          <div>투표 결과가 발표되었습니다. 1차 아이디어 선정을 수정한뒤 전체 구성원에게 공지 할수있습니다</div>
        </div>
      </div>
      <div class="preresult_wrap_idea1">
        <div class='preresult_vote1_select'>1차 아이디어 선정</div>
        {% for idea in idea_list  %}
          <div class='preresult_vote1_inner_idea'>
            <div class='prereuslt_vote1_idea_title'><a href={% url "idea:idea_detail" group.id idea.id%}>{{idea.title}}</a></div>
            <div>
              <div>{{idea.intro}}</div>
              <div class='card_contents_green'>{{idea.author}}</div>
            </div>
            <div class='prerrsult_vote1_select_btn'>
              <div>score: {{idea.votes}}</div>
              {% if idea.is_selected %}
                <button class='cta_blue_badge' data-idea-id="{{idea.id}}">선택</button>
              {% else %}
              <button class='cta_red_badge' data-idea-id="{{idea.id}}">선택</button>
              {% endif %}
            </div>
          </div>
        {% endfor %}
        <form method='post' action="{%url 'preresult:preresult' group.id%}">
          {% csrf_token %}
          <button class='primary_button_fill'>발표하기</button>
        </form>
      </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{% static "js/first_vote_selecte.js" %}"></script>
{% endblock content %}