{% extends 'base.html' %} {% block content %}
<h1>아이디어 투표하기</h1>

<form method="post">
  {% csrf_token %}
  <h2>1지망 아이디어 선택</h2>
  <select id="idea_vote1" name="idea_vote1" onchange="updateDropdowns()">
    <option value="" selected disabled>아이디어 선택</option>
    <option value="">선택 취소</option>
    
    {% for idea in ideas_for_voting %}
    <option value="{{ idea.id }}">{{ idea.title }}</option>
    {% endfor %}
  </select>

  <h2>2지망 아이디어 선택</h2>
  <select id="idea_vote2" name="idea_vote2" onchange="updateDropdowns()">
    <option value="" selected disabled>아이디어 선택</option>
    <option value="">선택 취소</option>
    
    {% for idea in ideas_for_voting %}
    <option value="{{ idea.id }}">{{ idea.title }}</option>
    {% endfor %}
  </select>

  <h2>3지망 아이디어 선택</h2>
  <select id="idea_vote3" name="idea_vote3" onchange="updateDropdowns()">
    <option value="" selected disabled>아이디어 선택</option>
    <option value="">선택 취소</option>

    {% for idea in ideas_for_voting %}
    <option value="{{ idea.id }}">{{ idea.title }}</option>
    {% endfor %}
  </select>

  <button type="submit">투표하기</button>
</form>

<script>
  function updateDropdowns() {
    var vote1 = document.getElementById("idea_vote1").value;
    var vote2 = document.getElementById("idea_vote2").value;
    var vote3 = document.getElementById("idea_vote3").value;

    document.querySelectorAll('select').forEach(function(select) {
      let isOptionSelected = select.value !== "" && select.value !== "아이디어 선택";

      Array.from(select.options).forEach(function(option) {
        if (option.value === "") {
          option.style.display = isOptionSelected ? "block" : "none"; 
        } else if (option.value !== "아이디어 선택") {
          if (option.value === vote1 || option.value === vote2 || option.value === vote3) {
            if (select.value !== option.value) {
              option.style.display = "none"; 
            }
          } else {
            option.style.display = "block"; 
          }
        }
      });

      if (!isOptionSelected) {
        
        select.selectedIndex = 0;
      }
    });
  }

  window.onload = updateDropdowns;
</script>

<a href="{% url 'group:group_detail' group_id=group.id %}" class="btn">이전</a>
{% endblock %}
