{% block content %}
<h1>모임 디테일 페이지</h1>
<p>추가로 밑에 아이디어들 불러올 예정</p>

{% if not author_ideas %}
<!-- 아이디어 추가하기 버튼 -->
<a href="{% url 'group:idea_create' group_id=group.id %}" class="btn">아이디어 추가하기</a>
{% endif %}
<!-- 투표하기 -->
{% if has_voted %}
<a href="{% url 'group:vote_modify' group_id=group.id %}" class="btn">투표 수정하기</a>
{% else %}
<a href="{% url 'group:group_vote_create' group_id=group.id %}" class="btn">투표하기</a>
{% endif %}

<a href="{% url 'common:main_page' %}" class="btn">홈으로</a>

{% if author_ideas %}
  <h2>나의 아이디어</h2>
  {% for idea in author_ideas %}
    <div>
      <h3><a href="{% url 'group:idea_detail' group_id=group.id idea_id=idea.id %}">{{ idea.title }}</a></h3>
      <p>{{ idea.content }}</p>
      <a href="{% url 'group:idea_modify' group_id=group.id idea_id=idea.id %}" class="btn">아이디어 수정하기</a>
    </div>
  {% endfor %}
{% endif %}

{% if other_ideas %}
  <h2>투표</h2>
  {% for idea in other_ideas %}
    <div>
      <h3>
        <a href="{% url 'group:idea_detail' group_id=group.id idea_id=idea.id %}">
          {{ idea.title }}
        </a>
        <!-- 투표 순위 표시 로직 -->
        {% if ideas_votes %}
          {% if idea.id == ideas_votes.idea_vote1_id %} 
            <span>1지망</span>
          {% elif idea.id == ideas_votes.idea_vote2_id %} 
            <span>2지망</span>
          {% elif idea.id == ideas_votes.idea_vote3_id %} 
            <span>3지망</span>
          {% endif %}
        {% endif %}
      </h3>
      <p>{{ idea.content }}</p>
    </div>
  {% endfor %}
{% endif %}



{% endblock content %}
