{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}?after">
    <link rel="stylesheet" href="{% static 'css/root.css' %}?after">
    <link rel="stylesheet" href="{% static 'css/global.css' %}?after">
    <link rel="stylesheet" href="{% static 'css/header.css' %}?after">
    <title>MakeMate</title>
</head>
<body>
    {% include 'header.html'%}
    {% block content %}
    {% endblock %}
    <div class='wrap_card'>
        <span class='card_title'>피로그래밍 20기</span>
        <div class='inner_card_badge'>
            <span class='primary_badge'>운영진</span>
            <span class='cta_red_badge'>운영진</span>
        </div>
        <div class='inner_card_contents'>
            <span class='card_contents_red'>팀빌딩 종료까지 남은 시간</span>
            <span>1일 12시간 22분</span>
            <span>참여자수: 00명</span>
        </div>
    </div>
</body>
</html>